{% extends "base/template.html.twig" %}

{% block content %}
<div class="container">
  <h4>Comunicados</h4>
  {% for comunicado in comunicados %}
    <div class="row z-depth-1">
      <div class="col s12 m4 l4">
        <a href="/comunicacion/comunicados/{{comunicado.id}}">
        <img class="responsive-img" src="/web/comunicados/{{comunicado.imagen}}"></a>
      </div>
      <div class="col s12 m8 l8">
        <a href="/comunicacion/comunicados/{{comunicado.id}}" class="flow-text black-text"><strong>{{comunicado.titulo}}</strong></a>
        <p class="grey-text">{{comunicado.fecha|date("d M Y")}}</p>
        <p class="flow-text truncate">{{comunicado.texto}}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
